.Login{
    padding: 20px 50px 0 50px;
    color: white;
    font-family: 'montserrat';
    text-align: center;
    form{
        display: flex;
        flex-direction: column;
        // color: aliceblue;
        color: antiquewhite;
        font-size: large;
        label{
            margin-bottom: 10px;
            color: aliceblue;
        }
        input{
            margin-bottom: 15px;
            height: 35px;
            background-color: aliceblue;
            font-family: 'montserrat';
            font-size: 22px;
            padding: 10px 10px 10px 10px;
        }
        
    }
    button{
        text-align: center;
        margin-top: 30px;
      width: 155px;
      background-color: #f0b90b;
      border: none;
      padding: 10px 20px 10px 20px;
      border-radius: 8px;
      font-family: "montserrat";
      font-size: 18px;
      font-weight: 600;
      color: black;
    }
    .redborder{
        border: solid 2px red !important;
        // color: black !important;
      }
}
