.must-sign-up{
    text-align: center;
    color: antiquewhite;
    font-family: 'montserrat';
    h1{
        padding: 20px 0 20px 0;
        span{
            padding: 20px 0 20px 0;
            
        }
    }
    p{
        padding: 20px 0 20px 0;
        
    }
    button{
        margin-top: 30px;
        background-color: #f0b90b;
        border: none;
        padding: 15px 35px 15px 35px;
        border-radius: 8px;
        font-family: "montserrat";
        font-size: 20px;
        font-weight: 600;
        color: black;
    }
}