@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=Montserrat:wght@100;200;300;400;500;600&display=swap");
.registration{
    padding: 20px 50px 0 50px;
    color: white;
    font-family: 'montserrat';
    text-align: center;
    button{
        text-align: center;
        margin-top: 30px;
      width: 155px;
      background-color: #f0b90b;
      border: none;
      padding: 10px 20px 10px 20px;
      border-radius: 8px;
      font-family: "montserrat";
      font-size: 18px;
      font-weight: 600;
      color: black;
    }
    form{
        display: flex;
        flex-direction: column;
        // color: aliceblue;
        color: antiquewhite;
        font-size: large;
        label{
            margin-bottom: 10px;
            color: aliceblue;
        }
        input{
            margin-bottom: 15px;
            height: 35px;
            background-color: aliceblue;
            font-family: 'montserrat';
            font-size: 22px;
            padding: 10px 10px 10px 10px;
        }
        select{
            color: aliceblue;
            height: 40px;
            font-family: 'montserrat';
            font-size: large;
            border-radius: 5px;
            padding: 5px;
            margin: 0 5px 0 5px;
        }
        #dob{
            margin-top: 20px;
        }
    }
    .dob{
        // width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        label{
         margin-top: 10px;   
        }
        option{
            background-color: aliceblue;
            color: black;
        }
    }
    .redborder{
        border: solid 2px red !important;
        // color: black !important;
      }
      
}